// portafolio
.marcoindex__color-hover:hover {
	color: rgba(236, 234, 234, 0.705);
}

.marcoindex__up-hover:hover {
	top: -5px;
	box-shadow: 15px 15px 15px rgb(2, 2, 2);
}

.efectohover figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.efectohover figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

	.contenedor_portafolio figure > .textporta{
		position:absolute;
		top:0;
		width: 100%;
		height: 100%;
		padding-bottom:100px;
		background: rgba(109, 108, 108, 0.733);
		transition: all 500ms ease-out;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		color:black;
	
	}
	.contenedor_portafolio figure:hover > .textporta{
		opacity: 1;
		visibility: visible;
		color:rgb(255, 246, 246);
		font-size:25px;
		font-weight: bold;
	
		
	}
	.contenedor_portafolio figure:hover > .textporta p{
		margin-top: 70px;
		margin-bottom: 100px;
		transition: all 500ms ease-out;
		color:rgb(228, 228, 228);
		font-size:20px;
		
	}

	.contra-efecthover figure img {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
	.contra-efecthover figure:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
		
	}
// Servicios 

.marcos__color-hover:hover {
	color: rgb(182, 178, 178);
}

.marcos__up-hover:hover {
	top: -5px;
	box-shadow: 15px 15px 15px rgb(53, 53, 53);
}

.contenedor figure .texttest{
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: white;
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	border-radius: 40px;
	color:black;

}
.contenedor figure:hover > .texttest{
	opacity: 1;
	visibility: visible;
	color:black;

	
}
.contenedor figure:hover > .texttest p{
	margin-top: 70px;
	margin-bottom: 100px;
	transition: all 500ms ease-out;
	color:black;
	
}

// footer - contacto
.footer--movimiento {
	transition: all 0.1s;
}

.footer--movimiento:hover {
	transform: translateY(-6px);
	color: $blanco;
}

.contacto--animacion {
	transition: all 1s;
	width: 40%;

}

.contacto--animacion:hover {
	width: 35%;
	background-color: $bgdefault;
	text-transform: uppercase;
	
}

//botton
.button {
	display: flex;
	flex-direction: row;
		flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
  }
  .container-button {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	padding-bottom:100px;
	width: 240px;
  }
.botton {
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 45px;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
  }
  .botton:hover {
	text-decoration: none;
  }
  
   .effect01 {
	color: #FFF;
	border: 4px solid #000;
	box-shadow:0px 0px 0px 1px #000 inset;
	background-color: #000;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
	border: 4px solid #666;
	background-color: #FFF;
	box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
   .effect01 span {
	transition: all 0.2s ease-out;
	z-index: 2;
  }
  .effect01:hover span{
	letter-spacing: 0.13em;
	color: #333;
  }
  
   .effect01:after {
	background: #FFF;
	border: 0px solid #000;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
			transform: rotate(35deg);
	width: 50px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: 1;
  }
  .effect01:hover:after {
	background: #FFF;
	border: 20px solid #000;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
			transform: rotate(40deg);
  }