// index - sections
.portafolio--animacion {
	transition: all 0.5s;
	width: 40%;

}

.portafolio--animacion:hover {
	width: 35%;
	background-color: rgb(107, 107, 107);
	text-transform: uppercase;
}

.verMas--animacion {
	color: darkblue;
	transition: all 0.5s;
}

.verMas--animacion:hover {
	// font-weight: bold;
	// text-transform: uppercase;
	color:lightsteelblue;
}

.verMasp--animacion {
	transition: all 0.5s;
	color:white;
}

.verMasp--animacion:hover {
	// width: 35%;
	color:lightsteelblue;
	// text-transform: uppercase;
}

// portafolio
.--animacion--trabajos figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.--animacion--trabajos figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.marcoindex__color-hover:hover {
	color: rgba(236, 234, 234, 0.705);
}

.marcoindex__up-hover:hover {
	top: -5px;
	box-shadow: 15px 15px 15px rgb(121, 121, 121);
}

// Servicios 

.marcos__color-hover:hover {
	color: rgb(182, 178, 178);
}

.marcos__up-hover:hover {
	top: -5px;
	box-shadow: 15px 15px 15px rgb(53, 53, 53);
}

// .texttest{
// 	width: 100%;
//     height: 100%;
// 	opacity: 0;
// 	transition: all 500ms ease-out;
// 	background: white;

// 	}

.contenedor figure .texttest{
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: white;
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	border-radius: 40px;
	color:black;

}
.contenedor figure:hover > .texttest{
	opacity: 1;
	visibility: visible;
	color:black;

	
}
.contenedor figure:hover > .texttest p{
	margin-top: 70px;
	margin-bottom: 100px;
	transition: all 500ms ease-out;
	color:black;
	
}

// footer - contacto
.footer--movimiento {
	transition: all 0.1s;
}

.footer--movimiento:hover {
	transform: translateY(-6px);
	color: $blanco;
}

.contacto--animacion {
	transition: all 1s;
	width: 40%;

}

.contacto--animacion:hover {
	width: 35%;
	background-color: $bgdefault;
	text-transform: uppercase;
	
}

// botones
