.row {
    margin-right: 0 !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow: hidden !important;
}

.navbar-collapse {
    justify-content: right !important;
}

.--border {
    box-sizing: unset !important;
}

.navbar-expand-lg {
    width: 100% !important;
}

.rounded {
    border-radius: 30px !important;
}