body {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-style: normal;
	font-weight: 400;
	background-color: #1B2142 !important;
	word-spacing: 2px;
	width: 100%;
	color: #EEEEEE;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
}