/*vista desktop*/
@media only screen and (min-width: 1024px) {}

/*VISTA tablet*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    // menu hamburguesa

    .navbar-toggler {
        border: inset 2px white !important;
        margin-right: 50px
    }

    .navbar-toggler-icon {
        background-color: $bgdefault !important;
    }

    // index

    .cabezera {
        margin-bottom: 0!important;
        padding-bottom: 120px!important;
    

    img{
        position: absolute;
        width: 100% !important;
        margin: 0px 0px 0px 0px !important;
        height: auto;
        z-index: -1;
        margin-left: 30px;
        overflow: hidden !important;
        right: 0px;
    }
    h1 {
        margin-top:150px!important;
        color: white;
        font-weight: bold;
        margin-left: 40px !important;
        text-align: left;
        font-size:50px!important;
        margin-bottom:0px!important;
        padding-bottom:0px!important;
    }

    p {
        margin-left: 40px !important;
        text-align: left;
        color: $blanco;
    }
}
    .sobreMi--index {
        h6 {
            font-size:180px;
            padding-right:0px;
            margin-bottom: 40px;
            left:40px;
            top:-125px;
            
        }

        p {
        font-size: 25.6px;
        margin-top:50px;
        padding: 0px 20px 0px 40px;
        }
    }

    .portafolio--index {

            padding-top:50px!important;

            h6 {
            color: rgba (255, 255, 255, 0.082);
            font-size: 180px!important;
            padding-left: 40px;
            left:100px;
            top: -120px;
        }

       

    }

        //portafolios

        .encabezadoPortafolio {
            color: white;
            background-color: #0e0e0e;
            font-size: 30px;
            padding: 180px 150px 0px 150px;
        
            h1 {
                position:absolute;
                top: 150px;
                font-weight: bold;
                font-size: 120px!important;
                z-index: 1111;
                color:rgba(255, 255, 255, 0.226);
                font-size: 40px;
                padding: 0px 50px 0px 50px;
            }
             
        }

        .marcoporta {
        text-align: center;
      padding: 50px 10px 40px 10px;
     margin: 20px 40px 0px 40px;
     
    
        &--cajas{
            padding: 15px 10px 15px 10px!important;
        }
    
        &__contenedor{
            width:100%;
            height: 100%;
            display:flex;
            justify-content: center!important;
            align-items: center!important;
            height: 350px;
            cursor:pointer;
        }
    
        &__contenedor figure{
            position:relative;
            width:350px;
            overflow:hidden;
            cursor:pointer;
            align-self: initial;
        
        }
        
        &__contenedor figure img {
            width: 100%;
            height: auto;
        }
    }
        .figura{
            position: relative;
            width: 100%!important;
            height: 350px!important;
            overflow: hidden;
            align-self: normal;
            padding-top:40px;
            padding-bottom:40px;
    
            img {
                width:250px!important;
                height:auto;
            }
        }
       // servicios

       .encabezadoServicios{

        h1{
        
        position:absolute;
        top: 125px;
        font-weight: bold;
        font-size: 75px!important;
        z-index: 1111;
        color:rgba(255, 255, 255, 0.226);
        font-size: 40px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right:20px;
    }
        h3{
            padding-left:30px!important;
        }
       }

       .marcos{
        text-align: center;
        padding: 30px 20px 80px 40px;
        margin: 20px 40px 0px 40px;
       }
       .ajusteMarco{
           top:-45px!important;
       }
       .contenedor{
           padding-top:0px!important;
       }
       
    #icoServ {
        color: grey;
    }

    //Sobre Mi
    .sobreMi {
        color: $negro;
        font-size: 18px;
        background-color: $bgdefault;

        h1{
            font-size:150px!important;
            padding-left:10px;
            padding-right:10px;
            top: 750px;
            left:210px;
        }

        p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        img {
            height: auto;
            width: 100%;
            margin-left: 5px !important;
        }

        &__clientesrec {
            background-color: $bgdefault;
            color: $negro;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 100px;

            p {
                color: $negro;
            }
        }
    }

    //contacto
    .footcontenido {
        padding-bottom:100px;
        
        h1 {
            position:absolute;
            font-size: 190px;
            text-align: left;
            margin-left: 25px;
            margin-right:25px;
            margin-top: 30px;
        }
    }

    .form--{
        margin-bottom:250px!important;
        left:-50px!important;
        top:180px!important;
    
    
    &contacto{
        padding-left: 280px;
        left: 600px;
    }
    
    &boton{
        background-color: grey!important;
        color:white!important;
        font-weight: bold!important;
        border: inset 1px white!important;
        cursor:pointer!important;
    }
}

.footer__nav{
    padding-bottom:50px;
}
    #contactoIcon {
        i {
            width: 0%;
            margin-left: 20px;
            margin-right: 0px;
            color: white;
            padding-bottom:170px!important;
            margin-bottom:0px!important;
        }
    }
}

/*vista mobile*/

@media only screen and (max-width: 767px) {

    // menu hamburguesa
    .navbar-toggler {
        border: inset 2px white !important;
        margin-right: 30px;
    }

    .navbar-toggler-icon {
        background-color: $bgdefault !important;
    }

    // Index 

    .cabezera {
        margin-bottom: 0;
        padding-bottom:40px!important;


        h1 {
        margin-top:80px!important;
        color: white;
        font-weight: bold;
        text-align: left;
        margin-left:15px!important;
        font-size:20px!important;
        padding-right:15px;
        margin-bottom:0px!important;
        padding-bottom:0px!important;
        }
        
            img{
                position: absolute;
                width: 100%!important;
                height: 100%;
                margin: 0px 0px 100px 0px!important;
                height: auto;
                z-index: -1;
                margin-left: 30px;
                overflow: hidden !important;
                right: 0px;
            }
        

        p {
        margin-left: 15px !important;
        text-align: left;
        color: white;
        font-size:15px;
        }
    }

    .sobreMi--index {
        h6 {
            font-size:80px;
            padding-right:0px;
            margin-right:0px;
            margin-bottom: 40px;
            left:50px;
            top:-50px;
        }

        p {
        font-size: 20px;
        margin-top:0px;
        padding: 0px 20px 0px 40px;
        }
    }

    .portafolio--index{
        padding-top:0px!important;
            h6{
                color: rgba (255, 255, 255, 0.082);
            font-size: 90px!important;
            
            padding-left: 10px;
            left:5px;
            top: -60px;
            }
        }
    //portafolios 
    .encabezadoPortafolio {
        color: white;
        background-color: #0e0e0e;
        padding: 80px 0px 0px 0px;
    
        h1 {
            position:absolute;
            top: 80px;
            font-weight: bold;
            left:5px;
            font-size: 70px!important;
            z-index: 1111;
            color:rgba(255, 255, 255, 0.226);
            font-size: 40px;
            padding: 0px 15px 0px 15px;
        }
         
    }

    .mobileAjust{
        padding-bottom:0px!important;
        margin-bottom:0px!important;
    }

    .marcoporta {
        text-align: center;
      padding: 50px 10px 40px 10px;
     margin: 20px 40px 0px 40px;
     
    
        &--cajas{
            padding: 15px 10px 15px 10px!important;
        }
    
        &__contenedor{
            width:100%;
            height: 100%;
            display:flex;
            justify-content: center!important;
            align-items: center!important;
            height: 350px;
            cursor:pointer;
        }
    
        &__contenedor figure{
            position:relative;
            width:350px;
            overflow:hidden;
            cursor:pointer;
            align-self: initial;
        
        }
        
        &__contenedor figure img {
            width: 100%;
            height: auto;
        }
    
        .figura{
            position: relative;
            width: 350px;;
            height: 350px;
            overflow: hidden;
            align-self: normal;
            padding-top:40px;
            padding-bottom:40px;
    
            img {
                width:320px;
                height:auto;
            }
        }
    
        &__shadow {
            margin: 10px 10px 10px 10px;
            box-shadow: 7px 7px 7pxrgb(255, 255, 255);
            position: relative;
            transition: all 0.2s;
            top: 0;
            background-color:rgba(88, 87, 87, 0.322);
        }
    }
    

        //Servicios

    .row {
        img {
            height: auto;
        }
    }

    .marcos {
        h1 {
            font-size: 80px !important;
        }
    }

    #icoServ {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 30px;
        margin-right: 25px;
        color: $colorh1;
    }

    //Sobre Mi
    .encabezadoServicios{

        h1{
        
        position:absolute;
        top: 105px;
        left:10px;
        font-weight: bold;
        font-size: 70px!important;
        z-index: 1111;
        color:rgba(255, 255, 255, 0.226);
        font-size: 40px;
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right:5px;
        text-align: center;
        line-height: 70px;
    }
        
       }

       .textAjuste{
           h3{
               display:none!important;
           }
       }
       .marcos{
        text-align: center;
        padding: 100px 20px 80px 40px;
        margin: 20px 40px 0px 40px;
       }
       .ajusteMarco{
           top:-45px!important;
       }
       .ajusteMarco--mobile{
           top:-90px!important;
       }
       .contenedor{
           padding-top:0px!important;
       }
       
       .marcos__color-hover:hover {
        color: rgb(182, 178, 178);
    }
    
    .marcos__up-hover:hover {
        top: -5px;
        box-shadow: 15px 15px 15px rgb(53, 53, 53);
    }
    
    .contenedor figure .texttest{
        position:absolute;
        top:0;
        width: 100%;
        height: 100%;
        background: white;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        border-radius: 40px;
        color:black;
    
    }
    .contenedor figure:hover > .texttest{
        opacity: 1;
        visibility: visible;
        color:black;
    
        
    }
    .contenedor figure:hover > .texttest p{
        margin-top: 10px!important;
        transition: all 500ms ease-out;
        color:black;
        
    }

    #icoServ {
        color: grey;
    }
    

    //sobre Mi
    .sobreMi {
        padding:10px 5px 5px 5px!important;
        font-size: 18px;
        background-position: buttom!important;
        background-size:140% 100%;
        background-repeat: no-repeat;

        h2{
            font-size:50px;
            margin-left:5px;
        }

        h3{
            margin-left:5px;
        }

        p {
            margin-left:5px!important;
            padding-right:0px!important
        }

        h1{
            font-size:100px!important;
            padding-left:5px;
            padding-right:5px;
            top: 10px;
            left:15px;
            text-align: center;
            line-height: 100px;
        }

        

        img {
            height: auto;
            width: 100%;
            margin-left: 5px !important;
        }

        &__clientesrec {
            background-color: $bgdefault;
            color: $negro;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 100px;

            p {
                color: $negro;
            }
        }
    }
    //contacto
    .footcontenido {
        padding-bottom:0px!important;
        
        h1 {
            position:absolute;
            font-size: 85px;
            text-align: left;
            margin-left: 5px;
            margin-right:5px;
            margin-top: 30px;
        }
    }

    .form--{
        margin-bottom:180px!important;
        left:5px!important;
        top:150px!important;
    
    
    &contacto{
        padding-left: 5px;
        // left: 600px;
    }
    
    &boton{
        background-color: grey!important;
        color:white!important;
        font-weight: bold!important;
        border: inset 1px white!important;
        cursor:pointer!important;
    }
}

.footer__nav{
    padding-bottom:0px!important;

}
    #contactoIcon {
        i {
            width: 0%;
            margin-left: 20px;
            margin-right: 0px;
            color: white;
            padding-bottom:15px!important;
            margin-bottom:0px!important;
        }
    }
}