@import "reseteo";
@import "fuente";
@import "colores";
@import "bs";
@import "animaciones";

.menu {
    word-spacing: 10px;
    background-color: $negro;
    border: solid 1px #1d1d1d;

    img {
        width: 65px !important;
        height: auto;
    }

    &__nav {
        word-spacing: 10px;
    }

    &__list {
        list-style: none;

        li {
            list-style-type: none;
            word-spacing: 5px;
            margin-right: 30px;

            a {
                color: white !important;
                font-size: 17px !important;
                text-decoration: none;
                word-spacing: 1px;
            }
        }
    }
}

// Index 

.cabezera {
    padding-bottom: 305px;
    margin-bottom: 0;

    h1 {
        margin-top: 400px;
        color: $blanco;
        font-weight: bold;
        margin-left: 200px;
        text-align: left;
        font-size: 120px;
    }

    img {
        position: absolute;
        width: 100% !important;
        margin: 0px 0px 0px 0px !important;
        height: auto;
        z-index: -1;
        margin-left: 30px;
        overflow: hidden !important;
        right: 0px;
    }

    p {
        margin-left: 205px;
        font-size: 40px;
        text-align: left;
        color: $blanco;
    }
}

// index - sections

.sobreMi--index {
    color: $blanco;
    background-color: #191919;
    font-size: 25px;
    padding: 50px 15px 100px 0px !important;

    p {

        font-size: 25.6px;
        padding-left: 300px;
        padding-right: 400px;
        margin-top: 50px;
    }

    h6 {
        position: absolute;
        z-index: 1111;
        font-size: 300px;
        left: 50px;
        color: rgba(255, 255, 255, 0.089);
        font-weight: bold;
        padding-right: 300px;
        margin-bottom: 200px;
        top: -180px;
    }

    a {
        font-size: 20px;
        margin-left: 80px;
        padding: 5px 25px 5px 25px;
        font-weight: bold;
        background-color: $blanco;
        text-decoration: none;
        color: $bgfooter;
    }
}

.portafolio--index {
    color: $negro;
    background-color: #0e0e0e;
    font-size: 30px;
    padding: 180px 150px 0px 150px;

    h6 {
        position: absolute;
        top: -120px;
        font-weight: bold;
        font-size: 220px !important;
        z-index: 1111;
        color: rgba(255, 255, 255, 0.082);
        font-size: 40px;
        padding-bottom: 30px;
        padding-left: 1000px;
    }


}

.bordeImgPortfolio {
    text-align: center;


    img {
        width: 100%;
        height: 50%;
    }

    &__shadow {
        margin: 10px 10px 10px 10px;
        box-shadow: 7px 7px 7pxrgb(255, 255, 255);
        position: relative;
        transition: all 0.2s;
        top: 0;
        border-radius: 40px;
        background-color: white;
    }
}


.marcoindex {
    text-align: center;
    padding: 50px 10px 40px 10px;
    margin: 20px 40px 0px 40px;

    &--cajas {
        padding: 15px 10px 15px 10px !important;
    }

    &__contenedor {
        width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        height: 300px;
    }

    &__contenedor figure {
        position: relative;
        // height: 250px;
        width: 350px;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        align-self: initial;

    }

    &__contenedor figure img {
        width: 100%;
        height: auto;
    }

    // &__contenedor figure .texttest{

    //         position:absolute;
    //         top:0;
    //         width: 100%;
    //         height: 100%;
    //         background: white;
    //         transition: all 500ms ease-out;
    //         opacity: 0;
    //         visibility: hidden;
    //         text-align: center;
    //         border-radius: 40px;
    //         color:black;

    //     }


    &__shadow {
        margin: 10px 10px 10px 10px;
        box-shadow: 7px 7px 7pxrgb(255, 255, 255);
        position: relative;
        transition: all 0.2s;
        top: 0;
        background-color: rgba(88, 87, 87, 0.322);
    }
}

// footer

.footer {
    padding-top: 30px;
    background-color: #000000;
    color: $blanco;
    font-size: 20px;


    p {
        justify-content: right;
    }

    ul {
        color: $colorfooter;
    }

    h6 {
        display: grid;
        align-items: end;
        text-align: right;
        color: $colorfooter;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-decoration: none;
        width: 100%;
        justify-content: center;

        li {
            color: $colorfooter;
            list-style-type: none;
            padding: 20px;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
        }

        i {
            color: $gris;
        }
    }
}

// Portafolio

.encabezadoPortafolio {
    color: $negro;
    background-color: #0e0e0e;
    font-size: 30px;
    padding: 180px 150px 0px 150px;

    h1 {
        position: absolute;
        top: 120px;
        font-weight: bold;
        font-size: 150px !important;
        z-index: 1111;
        color: rgba(255, 255, 255, 0.226);
        font-size: 40px;
        padding-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

}

.row {
    justify-content: center !important;
}

.portafolio__body {
    width: 100%;
    background-color: #191919 !important;
    margin-left: 0px !important;
}

.trabajos {

    padding: 25px 50px 50px 50px;
    ;

    h3 {
        font-size: 25px;
        color: $blanco;
        text-align: center;

    }

    p {
        font-size: 15px;
        color: $blanco;
        text-align: center;
        padding-bottom: 50px;
    }

}

.--animacion--trabajos {
    h3 {
        color: $blanco;
    }

    p {
        color: $blanco;
    }
}

.marcoporta {
    text-align: center;
    padding: 50px 10px 40px 10px;
    margin: 20px 40px 0px 40px;


    &--cajas {
        padding: 15px 10px 15px 10px !important;
    }

    &__contenedor {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        height: 350px;
        cursor: pointer;
    }

    &__contenedor figure {
        position: relative;
        // height: 250px;
        width: 350px;
        overflow: hidden;
        cursor: pointer;
        align-self: initial;

    }

    &__contenedor figure img {
        width: 100%;
        height: auto;
    }

    .figura {
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
        align-self: normal;
        padding-top: 40px;
        padding-bottom: 40px;

        img {
            width: 380px;
            height: auto;
        }
    }

    &__shadow {
        margin: 10px 10px 10px 10px;
        box-shadow: 7px 7px 7pxrgb(255, 255, 255);
        position: relative;
        transition: all 0.2s;
        top: 0;
        background-color: rgba(88, 87, 87, 0.322);
    }
}

// Servicios

.encabezadoServicios {
    color: $negro;
    font-size: 20px;
    text-align: left;
    padding: 50px 50px 100px 50px !important;
    background-color: #0e0e0e;

    h1 {
        position: absolute;
        top: 80px;
        font-weight: bold;
        font-size: 150px !important;
        z-index: 1111;
        color: rgba(255, 255, 255, 0.226);
        font-size: 40px;
        padding-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

}

.textAjuste {
    h3 {
        color: white;
        size: 30px !important;
        padding-top: 50px;
    }
}

.marcos {
    text-align: center;
    padding: 50px 40px 80px 40px;
    margin: 20px 40px 0px 40px;

    h1 {
        font-size: 200px;
        color: #505050;
    }

    h2 {
        color: rgb(0, 0, 0);
    }

    &__shadow {
        margin: 10px 10px 10px 10px;
        box-shadow: 7px 7px 7pxrgb(255, 255, 255);
        position: relative;
        transition: all 0.2s;
        top: 0;
        border-radius: 40px;
        background-color: white;
    }
}

.ajuste--top {
    padding-top: 50px;
}

// Sobre Mi

.sobreMi {
    background-image: url("../images/sobremi.jpg") !important;
    background-size: cover;
    color: $blanco;
    font-size: 18px;
    padding: 50px 150px 100px 150px;

    h1 {
        position: absolute;
        top: 550px;
        font-weight: bold;
        font-size: 200px !important;
        z-index: 1111;
        color: rgba(223, 222, 222, 0.24);
        font-size: 40px;
        padding-left: 1040px;
        padding-right: 100px;

    }

    h2 {
        color: $blanco;
        text-align: left;
        margin: 30px 40px 10px 50px;
        padding: 30px 0px 10px 75px;
        font-size: 70px;
        font-weight: 400;
    }

    h3 {
        color: $blanco;
        text-align: left;
        margin: 2px 40px 50px 50px;
        padding: 2px 0px 10px 80px;
        font-size: 20px;
        font-weight: 400;
    }

    p {
        color: $blanco;
        text-align: left;
        margin: 0px 40px 0px 50px;
        padding: 15px 200px 120px 80px;
        font-size: 25px;
    }

    &__mail {
        padding: 150px 0px 150px 0px;
        text-decoration: none;
        background-color: #191919;

        h5 {
            color: $blanco;
            font-size: 50px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
        }

        a {
            color: $blanco;
        }

        p {
            font-size: 20px;
            text-align: center;
            margin-top: 15px;
        }
    }
}

//contacto

.footcontenido {
    background-color: #0e0e0e;
    padding: 20px 30px 0px 30px;
    color: $blanco;
    font-size: 20px;
    height: 100%;

    h1 {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        font-size: 200px;
        margin-left: 150px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.144);
        font-weight: bold;

    }
}

.form-- {
    left: 500px !important;
    top: -100px !important;


    &contacto {
        padding-left: 280px;
        left: 600px;
    }

    &boton {
        background-color: grey !important;
        color: white !important;
        font-weight: bold !important;
        border: inset 1px white !important;
        cursor: pointer !important;

    }
}

#contactoIcon {
    i {
        width: 0%;
        margin-left: 20px;
        margin-right: 0px;
        color: $blanco;
    }
}

@import "mediasq";