* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  background-color: #000000 !important;
  word-spacing: 2px;
  width: 100%;
  color: white;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  margin-right: 0 !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow: hidden !important;
}

.navbar-collapse {
  -webkit-box-pack: right !important;
      -ms-flex-pack: right !important;
          justify-content: right !important;
}

.--border {
  -webkit-box-sizing: unset !important;
          box-sizing: unset !important;
}

.navbar-expand-lg {
  width: 100% !important;
}

.rounded {
  border-radius: 30px !important;
}

.marcoindex__color-hover:hover {
  color: rgba(236, 234, 234, 0.705);
}

.marcoindex__up-hover:hover {
  top: -5px;
  -webkit-box-shadow: 15px 15px 15px #020202;
          box-shadow: 15px 15px 15px #020202;
}

.efectohover figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.efectohover figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.contenedor_portafolio figure > .textporta {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background: rgba(109, 108, 108, 0.733);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  color: black;
}

.contenedor_portafolio figure:hover > .textporta {
  opacity: 1;
  visibility: visible;
  color: #fff6f6;
  font-size: 25px;
  font-weight: bold;
}

.contenedor_portafolio figure:hover > .textporta p {
  margin-top: 70px;
  margin-bottom: 100px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #e4e4e4;
  font-size: 20px;
}

.contra-efecthover figure img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.contra-efecthover figure:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.marcos__color-hover:hover {
  color: #b6b2b2;
}

.marcos__up-hover:hover {
  top: -5px;
  -webkit-box-shadow: 15px 15px 15px #353535;
          box-shadow: 15px 15px 15px #353535;
}

.contenedor figure .texttest {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  border-radius: 40px;
  color: black;
}

.contenedor figure:hover > .texttest {
  opacity: 1;
  visibility: visible;
  color: black;
}

.contenedor figure:hover > .texttest p {
  margin-top: 70px;
  margin-bottom: 100px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: black;
}

.footer--movimiento {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.footer--movimiento:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  color: white;
}

.contacto--animacion {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 40%;
}

.contacto--animacion:hover {
  width: 35%;
  background-color: #EAEAEA;
  text-transform: uppercase;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.container-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 100px;
  width: 240px;
}

.botton {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.botton:hover {
  text-decoration: none;
}

.effect01 {
  color: #FFF;
  border: 4px solid #000;
  -webkit-box-shadow: 0px 0px 0px 1px #000 inset;
          box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 0px 4px #EEE inset;
          box-shadow: 0px 0px 0px 4px #EEE inset;
}

.effect01 span {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 2;
}

.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.menu {
  word-spacing: 10px;
  background-color: black;
  border: solid 1px #1d1d1d;
}

.menu img {
  width: 65px !important;
  height: auto;
}

.menu__nav {
  word-spacing: 10px;
}

.menu__list {
  list-style: none;
}

.menu__list li {
  list-style-type: none;
  word-spacing: 5px;
  margin-right: 30px;
}

.menu__list li a {
  color: white !important;
  font-size: 17px !important;
  text-decoration: none;
  word-spacing: 1px;
}

.cabezera {
  padding-bottom: 305px;
  margin-bottom: 0;
}

.cabezera h1 {
  margin-top: 400px;
  color: white;
  font-weight: bold;
  margin-left: 200px;
  text-align: left;
  font-size: 120px;
}

.cabezera img {
  position: absolute;
  width: 100% !important;
  margin: 0px 0px 0px 0px !important;
  height: auto;
  z-index: -1;
  margin-left: 30px;
  overflow: hidden !important;
  right: 0px;
}

.cabezera p {
  margin-left: 205px;
  font-size: 40px;
  text-align: left;
  color: white;
}

.sobreMi--index {
  color: white;
  background-color: #191919;
  font-size: 25px;
  padding: 50px 15px 100px 0px !important;
}

.sobreMi--index p {
  font-size: 25.6px;
  padding-left: 300px;
  padding-right: 400px;
  margin-top: 50px;
}

.sobreMi--index h6 {
  position: absolute;
  z-index: 1111;
  font-size: 300px;
  left: 50px;
  color: rgba(255, 255, 255, 0.089);
  font-weight: bold;
  padding-right: 300px;
  margin-bottom: 200px;
  top: -180px;
}

.sobreMi--index a {
  font-size: 20px;
  margin-left: 80px;
  padding: 5px 25px 5px 25px;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  color: #011140;
}

.portafolio--index {
  color: black;
  background-color: #0e0e0e;
  font-size: 30px;
  padding: 180px 150px 0px 150px;
}

.portafolio--index h6 {
  position: absolute;
  top: -120px;
  font-weight: bold;
  font-size: 220px !important;
  z-index: 1111;
  color: rgba(255, 255, 255, 0.082);
  font-size: 40px;
  padding-bottom: 30px;
  padding-left: 1000px;
}

.bordeImgPortfolio {
  text-align: center;
}

.bordeImgPortfolio img {
  width: 100%;
  height: 50%;
}

.bordeImgPortfolio__shadow {
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 7px 7px 7pxrgb 255, 255, 255;
          box-shadow: 7px 7px 7pxrgb 255, 255, 255;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  border-radius: 40px;
  background-color: white;
}

.marcoindex {
  text-align: center;
  padding: 50px 10px 40px 10px;
  margin: 20px 40px 0px 40px;
}

.marcoindex--cajas {
  padding: 15px 10px 15px 10px !important;
}

.marcoindex__contenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 300px;
}

.marcoindex__contenedor figure {
  position: relative;
  width: 350px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
}

.marcoindex__contenedor figure img {
  width: 100%;
  height: auto;
}

.marcoindex__shadow {
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 7px 7px 7pxrgb 255, 255, 255;
          box-shadow: 7px 7px 7pxrgb 255, 255, 255;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  background-color: rgba(88, 87, 87, 0.322);
}

.footer {
  padding-top: 30px;
  background-color: #000000;
  color: white;
  font-size: 20px;
}

.footer p {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer ul {
  color: #9b9b9b;
}

.footer h6 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: right;
  color: #9b9b9b;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-decoration: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav li {
  color: #9b9b9b;
  list-style-type: none;
  padding: 20px;
  margin-top: 10px;
}

.footer__nav a {
  text-decoration: none;
}

.footer__nav i {
  color: grey;
}

.encabezadoPortafolio {
  color: black;
  background-color: #0e0e0e;
  font-size: 30px;
  padding: 180px 150px 0px 150px;
}

.encabezadoPortafolio h1 {
  position: absolute;
  top: 120px;
  font-weight: bold;
  font-size: 150px !important;
  z-index: 1111;
  color: rgba(255, 255, 255, 0.226);
  font-size: 40px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.portafolio__body {
  width: 100%;
  background-color: #191919 !important;
  margin-left: 0px !important;
}

.trabajos {
  padding: 25px 50px 50px 50px;
}

.trabajos h3 {
  font-size: 25px;
  color: white;
  text-align: center;
}

.trabajos p {
  font-size: 15px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.--animacion--trabajos h3 {
  color: white;
}

.--animacion--trabajos p {
  color: white;
}

.marcoporta {
  text-align: center;
  padding: 50px 10px 40px 10px;
  margin: 20px 40px 0px 40px;
}

.marcoporta--cajas {
  padding: 15px 10px 15px 10px !important;
}

.marcoporta__contenedor {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 350px;
  cursor: pointer;
}

.marcoporta__contenedor figure {
  position: relative;
  width: 350px;
  overflow: hidden;
  cursor: pointer;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
}

.marcoporta__contenedor figure img {
  width: 100%;
  height: auto;
}

.marcoporta .figura {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  -ms-flex-item-align: normal;
      -ms-grid-row-align: normal;
      align-self: normal;
  padding-top: 40px;
  padding-bottom: 40px;
}

.marcoporta .figura img {
  width: 380px;
  height: auto;
}

.marcoporta__shadow {
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 7px 7px 7pxrgb 255, 255, 255;
          box-shadow: 7px 7px 7pxrgb 255, 255, 255;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  background-color: rgba(88, 87, 87, 0.322);
}

.encabezadoServicios {
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 50px 50px 100px 50px !important;
  background-color: #0e0e0e;
}

.encabezadoServicios h1 {
  position: absolute;
  top: 80px;
  font-weight: bold;
  font-size: 150px !important;
  z-index: 1111;
  color: rgba(255, 255, 255, 0.226);
  font-size: 40px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.textAjuste h3 {
  color: white;
  size: 30px !important;
  padding-top: 50px;
}

.marcos {
  text-align: center;
  padding: 50px 40px 80px 40px;
  margin: 20px 40px 0px 40px;
}

.marcos h1 {
  font-size: 200px;
  color: #505050;
}

.marcos h2 {
  color: black;
}

.marcos__shadow {
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 7px 7px 7pxrgb 255, 255, 255;
          box-shadow: 7px 7px 7pxrgb 255, 255, 255;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  border-radius: 40px;
  background-color: white;
}

.ajuste--top {
  padding-top: 50px;
}

.sobreMi {
  background-image: url("../images/sobremi.jpg") !important;
  background-size: cover;
  color: white;
  font-size: 18px;
  padding: 50px 150px 100px 150px;
}

.sobreMi h1 {
  position: absolute;
  top: 550px;
  font-weight: bold;
  font-size: 200px !important;
  z-index: 1111;
  color: rgba(223, 222, 222, 0.24);
  font-size: 40px;
  padding-left: 1040px;
  padding-right: 100px;
}

.sobreMi h2 {
  color: white;
  text-align: left;
  margin: 30px 40px 10px 50px;
  padding: 30px 0px 10px 75px;
  font-size: 70px;
  font-weight: 400;
}

.sobreMi h3 {
  color: white;
  text-align: left;
  margin: 2px 40px 50px 50px;
  padding: 2px 0px 10px 80px;
  font-size: 20px;
  font-weight: 400;
}

.sobreMi p {
  color: white;
  text-align: left;
  margin: 0px 40px 0px 50px;
  padding: 15px 200px 120px 80px;
  font-size: 25px;
}

.sobreMi__mail {
  padding: 150px 0px 150px 0px;
  text-decoration: none;
  background-color: #191919;
}

.sobreMi__mail h5 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.sobreMi__mail a {
  color: white;
}

.sobreMi__mail p {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

.footcontenido {
  background-color: #0e0e0e;
  padding: 20px 30px 0px 30px;
  color: white;
  font-size: 20px;
  height: 100%;
}

.footcontenido h1 {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  font-size: 200px;
  margin-left: 150px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.144);
  font-weight: bold;
}

.form-- {
  left: 500px !important;
  top: -100px !important;
}

.form--contacto {
  padding-left: 280px;
  left: 600px;
}

.form--boton {
  background-color: grey !important;
  color: white !important;
  font-weight: bold !important;
  border: inset 1px white !important;
  cursor: pointer !important;
}

#contactoIcon i {
  width: 0%;
  margin-left: 20px;
  margin-right: 0px;
  color: white;
}

/*vista desktop*/
/*VISTA tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-toggler {
    border: inset 2px white !important;
    margin-right: 50px;
  }
  .navbar-toggler-icon {
    background-color: #EAEAEA !important;
  }
  .cabezera {
    margin-bottom: 0 !important;
    padding-bottom: 120px !important;
  }
  .cabezera img {
    position: absolute;
    width: 100% !important;
    margin: 0px 0px 0px 0px !important;
    height: auto;
    z-index: -1;
    margin-left: 30px;
    overflow: hidden !important;
    right: 0px;
  }
  .cabezera h1 {
    margin-top: 150px !important;
    color: white;
    font-weight: bold;
    margin-left: 40px !important;
    margin-right: 80px !important;
    text-align: left;
    font-size: 50px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  .cabezera p {
    margin-left: 40px !important;
    text-align: left;
    color: white;
  }
  .sobreMi--index h6 {
    font-size: 180px;
    padding-right: 0px;
    margin-bottom: 40px;
    left: 40px;
    top: -125px;
  }
  .sobreMi--index p {
    font-size: 25.6px;
    margin-top: 50px;
    padding: 0px 20px 0px 40px;
  }
  .portafolio--index {
    padding-top: 50px !important;
  }
  .portafolio--index h6 {
    color: rgba 255, 255, 255, 0.082;
    font-size: 180px !important;
    padding-left: 40px;
    left: 100px;
    top: -120px;
  }
  .encabezadoPortafolio {
    color: white;
    background-color: #0e0e0e;
    font-size: 30px;
    padding: 180px 150px 0px 150px;
  }
  .encabezadoPortafolio h1 {
    position: absolute;
    top: 150px;
    font-weight: bold;
    font-size: 120px !important;
    z-index: 1111;
    color: rgba(255, 255, 255, 0.226);
    font-size: 40px;
    padding: 0px 50px 0px 50px;
  }
  .marcoporta {
    text-align: center;
    padding: 50px 10px 40px 10px;
    margin: 20px 40px 0px 40px;
  }
  .marcoporta--cajas {
    padding: 15px 10px 15px 10px !important;
  }
  .marcoporta__contenedor {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 350px;
    cursor: pointer;
  }
  .marcoporta__contenedor figure {
    position: relative;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
  .marcoporta__contenedor figure img {
    width: 100%;
    height: auto;
  }
  .figura {
    position: relative;
    width: 100% !important;
    height: 350px !important;
    overflow: hidden;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .figura img {
    width: 250px !important;
    height: auto;
  }
  .encabezadoServicios h1 {
    position: absolute;
    top: 125px;
    font-weight: bold;
    font-size: 75px !important;
    z-index: 1111;
    color: rgba(255, 255, 255, 0.226);
    font-size: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .encabezadoServicios h3 {
    padding-left: 30px !important;
  }
  .marcos {
    text-align: center;
    padding: 30px 20px 80px 40px;
    margin: 20px 40px 0px 40px;
  }
  .ajusteMarco {
    top: -45px !important;
  }
  .contenedor {
    padding-top: 0px !important;
  }
  #icoServ {
    color: grey;
  }
  .sobreMi {
    color: black;
    font-size: 18px;
    background-color: #EAEAEA;
  }
  .sobreMi h1 {
    font-size: 150px !important;
    padding-left: 10px;
    padding-right: 10px;
    top: 750px;
    left: 210px;
  }
  .sobreMi p {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .sobreMi img {
    height: auto;
    width: 100%;
    margin-left: 5px !important;
  }
  .sobreMi__clientesrec {
    background-color: #EAEAEA;
    color: black;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .sobreMi__clientesrec p {
    color: black;
  }
  .footcontenido {
    padding-bottom: 100px;
  }
  .footcontenido h1 {
    position: absolute;
    font-size: 190px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
  }
  .form-- {
    margin-bottom: 250px !important;
    left: -50px !important;
    top: 180px !important;
  }
  .form--contacto {
    padding-left: 280px;
    left: 600px;
  }
  .form--boton {
    background-color: grey !important;
    color: white !important;
    font-weight: bold !important;
    border: inset 1px white !important;
    cursor: pointer !important;
  }
  .footer__nav {
    padding-bottom: 50px;
  }
  #contactoIcon i {
    width: 0%;
    margin-left: 20px;
    margin-right: 0px;
    color: white;
    padding-bottom: 170px !important;
    margin-bottom: 0px !important;
  }
}

/*vista mobile*/
@media only screen and (max-width: 767px) {
  .navbar-toggler {
    border: inset 2px white !important;
    margin-right: 30px;
  }
  .navbar-toggler-icon {
    background-color: #EAEAEA !important;
  }
  .cabezera {
    margin-bottom: 0;
    padding-bottom: 40px !important;
  }
  .cabezera h1 {
    margin-top: 80px !important;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-left: 15px !important;
    margin-right: 70px !important;
    font-size: 20px !important;
    padding-right: 15px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  .cabezera img {
    position: absolute;
    width: 100% !important;
    height: 100%;
    margin: 0px 0px 100px 0px !important;
    height: auto;
    z-index: -1;
    margin-left: 30px;
    overflow: hidden !important;
    right: 0px;
  }
  .cabezera p {
    margin-left: 15px !important;
    text-align: left;
    color: white;
    font-size: 15px;
  }
  .sobreMi--index {
    padding-bottom: 50px !important;
  }
  .sobreMi--index h6 {
    font-size: 80px;
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    left: 50px;
    top: -50px;
  }
  .sobreMi--index p {
    font-size: 20px;
    margin-top: 0px;
    padding: 0px 20px 0px 40px;
  }
  .portafolio--index {
    padding-top: 0px !important;
  }
  .portafolio--index h6 {
    color: rgba 255, 255, 255, 0.082;
    font-size: 90px !important;
    padding-left: 10px;
    left: 5px;
    top: -60px;
  }
  .encabezadoPortafolio {
    color: white;
    background-color: #0e0e0e;
    padding: 80px 0px 0px 0px;
  }
  .encabezadoPortafolio h1 {
    position: absolute;
    top: 80px;
    font-weight: bold;
    left: 5px;
    font-size: 70px !important;
    z-index: 1111;
    color: rgba(255, 255, 255, 0.226);
    font-size: 40px;
    padding: 0px 15px 0px 15px;
  }
  .mobileAjust {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
  .marcoporta {
    text-align: center;
    padding: 50px 10px 40px 10px;
    margin: 20px 40px 0px 40px;
  }
  .marcoporta--cajas {
    padding: 15px 10px 15px 10px !important;
  }
  .marcoporta__contenedor {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 350px;
    cursor: pointer;
  }
  .marcoporta__contenedor figure {
    position: relative;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
  .marcoporta__contenedor figure img {
    width: 100%;
    height: auto;
  }
  .marcoporta .figura {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .marcoporta .figura img {
    width: 320px;
    height: auto;
  }
  .marcoporta__shadow {
    margin: 10px 10px 10px 10px;
    -webkit-box-shadow: 7px 7px 7pxrgb 255, 255, 255;
            box-shadow: 7px 7px 7pxrgb 255, 255, 255;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: 0;
    background-color: rgba(88, 87, 87, 0.322);
  }
  .row img {
    height: auto;
  }
  .marcos h1 {
    font-size: 80px !important;
  }
  #icoServ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
    padding-left: 30px;
    margin-right: 25px;
    color: #03178C;
  }
  .encabezadoServicios h1 {
    position: absolute;
    top: 105px;
    left: 10px;
    font-weight: bold;
    font-size: 70px !important;
    z-index: 1111;
    color: rgba(255, 255, 255, 0.226);
    font-size: 40px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    line-height: 70px;
  }
  .textAjuste h3 {
    display: none !important;
  }
  .marcos {
    text-align: center;
    padding: 100px 20px 80px 40px;
    margin: 20px 40px 0px 40px;
  }
  .ajusteMarco {
    top: -45px !important;
  }
  .ajusteMarco--mobile {
    top: -90px !important;
  }
  .contenedor {
    padding-top: 0px !important;
  }
  .marcos__color-hover:hover {
    color: #b6b2b2;
  }
  .marcos__up-hover:hover {
    top: -5px;
    -webkit-box-shadow: 15px 15px 15px #353535;
            box-shadow: 15px 15px 15px #353535;
  }
  .contenedor figure .texttest {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 40px;
    color: black;
  }
  .contenedor figure:hover > .texttest {
    opacity: 1;
    visibility: visible;
    color: black;
  }
  .contenedor figure:hover > .texttest p {
    margin-top: 10px !important;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    color: black;
  }
  #icoServ {
    color: grey;
  }
  .sobreMi {
    padding: 10px 5px 5px 5px !important;
    font-size: 18px;
    background-position: buttom !important;
    background-size: 140% 100%;
    background-repeat: no-repeat;
  }
  .sobreMi h2 {
    font-size: 50px;
    margin-left: 5px;
  }
  .sobreMi h3 {
    margin-left: 5px;
  }
  .sobreMi p {
    margin-left: 5px !important;
    padding-right: 0px !important;
  }
  .sobreMi h1 {
    font-size: 100px !important;
    padding-left: 5px;
    padding-right: 5px;
    top: 10px;
    left: 15px;
    text-align: center;
    line-height: 100px;
  }
  .sobreMi img {
    height: auto;
    width: 100%;
    margin-left: 5px !important;
  }
  .sobreMi__clientesrec {
    background-color: #EAEAEA;
    color: black;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .sobreMi__clientesrec p {
    color: black;
  }
  .footcontenido {
    padding-bottom: 0px !important;
  }
  .footcontenido h1 {
    position: absolute;
    font-size: 85px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  }
  .form-- {
    margin-bottom: 180px !important;
    left: 5px !important;
    top: 150px !important;
  }
  .form--contacto {
    padding-left: 5px;
  }
  .form--boton {
    background-color: grey !important;
    color: white !important;
    font-weight: bold !important;
    border: inset 1px white !important;
    cursor: pointer !important;
  }
  .footer__nav {
    padding-bottom: 0px !important;
  }
  #contactoIcon i {
    width: 0%;
    margin-left: 20px;
    margin-right: 0px;
    color: white;
    padding-bottom: 15px !important;
    margin-bottom: 0px !important;
  }
}
/*# sourceMappingURL=style.css.map */